## **Special methods**

In [ ]:
## Special Method(OOPS)
## __repr__

In [ ]:
class Car:
    pass

## **NEXT SPECIAL Method**

In [1]:
type(1)

int

In [ ]:
class Wallet:
    def __init__(self, cash):
        self.cash = cash
    
    def __repr__(self) -> str:
        return f"class Wallet, cash: {self.cash}"
    
    ## Special Method
    def __add__(self, other) -> int:
        if(isinstance(other, Wallet)):
            return Wallet(self.cash + other.cash)
        else:
            #raise "please provide Wallet Object"
            return None
    
    ## Special method
    def __sub__(self, other):
        return Wallet(self.cash - other.cash) 

    def __eq__(self, other ):
        return self.cash == other.cash

In [17]:
w1 = Wallet(50)
w2 = Wallet(30)

result = w1 + w2 
print(result)
print(result.cash)

class Wallet, cash: 80
80

In [26]:
### Addition 
w1 = Wallet(50)
w2 = Wallet(30)

result = w1 + w2 
print(result)

class Wallet, cash: 80

In [28]:
### Subtraction
w1 = Wallet(50)
w2 = Wallet(60)

result = w1 - w2 
print(result)

class Wallet, cash: -10

In [ ]:
### Equality 
w1 = Wallet(50)
w2 = Wallet(50)
 
print(w1 == w2 )

True

## **isinstance()**

In [29]:
print(isinstance(1, (int, list ,float)))  
print(isinstance({12}, (int, list ,float)))  
print(isinstance({12}, (int, list ,set)))  
print(isinstance(1, int))
print(isinstance(1, float))

True
False
True
True
False

## **Next Topic : `__len__()`**

In [3]:
class ATM:
    def __init__(self):
        self.transaction_history = []
    
    def __repr__(self):
        return f"Class ATM, Cash "
    
    def do_transaction(self,value):
        self.transaction_history.append(value)
        print(f"Transaction done : {value}")
    
    def __len__(self):
        return len(self.transaction_history)

In [ ]:
a = [1,2,3,4,5]
print(len(a))

In [4]:
atm_1 = ATM()
len(atm_1)

0

In [5]:
atm_1.do_transaction(100)

Transaction done : 100

In [6]:
len(atm_1)

1

## **Next Specila method: def `__getitem__`(self, index):**

In [14]:
class ATM:
    def __init__(self):
        self.transaction_history = []
    
    def __repr__(self):
        return f"Class ATM, Cash "
    
    def do_transaction(self,value):
        self.transaction_history.append(value)
        print(f"Transaction done : {value}")
    
    def __len__(self):
        return len(self.transaction_history) 
    
    def __getitem__(self, index):
        return self.transaction_history[index]

In [15]:
atm_2 = ATM()

In [16]:
atm_2.do_transaction(100)

Transaction done : 100

In [17]:
atm_2.do_transaction(100)

Transaction done : 100

In [18]:
atm_2.do_transaction(-100)

Transaction done : -100

In [19]:
atm_2.do_transaction(84)

Transaction done : 84

In [20]:
atm_2[-2]

-100