## **Special Functions**

In [3]:
def add(a,b):
    return a+b

add(10,20)

30

In [5]:
# Lambda functions
add = lambda a,b: a+b 
add(10,20)

30

## **map()**

In [6]:
list_1 = [1,2,3,4,5]

In [4]:
list_b = ["sharmila","abhishek","tanmay","nithin","raj"]

map_obj = map(str.upper, list_b)
list(map_obj)

['SHARMILA', 'ABHISHEK', 'TANMAY', 'NITHIN', 'RAJ']

In [7]:
cube = lambda x: x*x*x

list(map(cube, list_1))

[1, 8, 27, 64, 125]

## **filter()**

In [9]:
# Filter(function, iterable)
# function that take one item and return a boolean

list_a= [1,2,3,4,5]

def is_even(num):
    return num%2 == 0


result = list(filter(is_even, list_a))
result

[2, 4]

In [1]:
##Q) is diciionary iterable : YES 

students = {
   "sharmila": "batch_1",
   "abhi": "batch_2",
   "tanmay": "batch_1",
   "nithin": "batch_2",
   "raj": "batch_2"
}

def check_batch_1(student):
   return student[1] == "batch_1"

In [12]:
list(zip("1","monal"))

[('1', 'm')]

In [13]:
for i in students.items():
    print(i)

('sharmila', 'batch_1')
('abhi', 'batch_2')
('tanmay', 'batch_1')
('nithin', 'batch_2')
('raj', 'batch_2')

In [4]:
list(filter(check_batch_1,students.items()))

[('sharmila', 'batch_1'), ('tanmay', 'batch_1')]

In [8]:
names = ["sharmila","abhishek","tanmay", "nithin","raj"]
batch = ["batch_1","batch_2", "batch_1", "batch_2","batch_1"]

In [9]:
list(filter(check_batch_1, zip(names,batch)))

[('sharmila', 'batch_1'), ('tanmay', 'batch_1'), ('raj', 'batch_1')]

## **List & Dict COmpreshension**

In [12]:
numbers = list(range(1,21))
numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [13]:
def even_numbers(l):
    final_even_list = []
    for i in l:
        if i%2 ==0:
            final_even_list.append(i)
    return final_even_list

In [14]:
even_n = even_numbers(numbers)
even_n

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

## **list compreshension**

In [16]:
even_n = [item for item in numbers if item%2 == 0 ]
even_n

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [20]:
even_n = [item  if item%2 == 0 for item in numbers]
even_n

SyntaxError: expected 'else' after 'if' expression (3532945712.py, line 1)

In [21]:
even_n = [item  if item%2 == 0 else -1 for item in numbers]
even_n

[-1, 2, -1, 4, -1, 6, -1, 8, -1, 10, -1, 12, -1, 14, -1, 16, -1, 18, -1, 20]

In [30]:
## Problem Statement 
numbers = range(1,101)
is_even_list_v1 = [True if item%2 else False for item in numbers ]
is_even_list_v1 = [True if item%2 else False for item in range(1,101) ]
is_even_list_v1

[True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False]

In [27]:
numbers = range(1,101)
is_even_list_v2 = [ item%2 ==0 for item in numbers ]
is_even_list_v2

[False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True]

## **dictionary comprehension**

In [19]:
even_dict = {item:item for item in numbers if item%2 ==0 }
even_dict

{2: 2, 4: 4, 6: 6, 8: 8, 10: 10, 12: 12, 14: 14, 16: 16, 18: 18, 20: 20}

In [33]:
even_dict = { num:True if num%2 == 0 else False for num in range(1,100)}
even_dict

{1: False,
 2: True,
 3: False,
 4: True,
 5: False,
 6: True,
 7: False,
 8: True,
 9: False,
 10: True,
 11: False,
 12: True,
 13: False,
 14: True,
 15: False,
 16: True,
 17: False,
 18: True,
 19: False,
 20: True,
 21: False,
 22: True,
 23: False,
 24: True,
 25: False,
 26: True,
 27: False,
 28: True,
 29: False,
 30: True,
 31: False,
 32: True,
 33: False,
 34: True,
 35: False,
 36: True,
 37: False,
 38: True,
 39: False,
 40: True,
 41: False,
 42: True,
 43: False,
 44: True,
 45: False,
 46: True,
 47: False,
 48: True,
 49: False,
 50: True,
 51: False,
 52: True,
 53: False,
 54: True,
 55: False,
 56: True,
 57: False,
 58: True,
 59: False,
 60: True,
 61: False,
 62: True,
 63: False,
 64: True,
 65: False,
 66: True,
 67: False,
 68: True,
 69: False,
 70: True,
 71: False,
 72: True,
 73: False,
 74: True,
 75: False,
 76: True,
 77: False,
 78: True,
 79: False,
 80: True,
 81: False,
 82: True,
 83: False,
 84: True,
 85: False,
 86: True,
 87: False,
 88: True,
 89: False,
 90: True,
 91: False,
 92: True,
 93: False,
 94: True,
 95: False,
 96: True,
 97: False,
 98: True,
 99: False}

In [36]:
students = {
   "sharmila": "batch_1",
   "abhi": "batch_2",
   "tanmay": "batch_1",
   "nithin": "batch_2",
   "raj": "batch_2"
}

students

{'sharmila': 'batch_1',
 'abhi': 'batch_2',
 'tanmay': 'batch_1',
 'nithin': 'batch_2',
 'raj': 'batch_2'}

In [37]:
batch1_students = {
    name:batch  for name, batch in students.items()  if batch =="batch_1"  
}
batch1_students

{'sharmila': 'batch_1', 'tanmay': 'batch_1'}

#