# Special Methods (OOPS)

In [ ]:
class Car:
    def __init__(self,manuf, car_name):
        self.manuf = manuf
        self.car_name = car_name

    def __str__(self):
        return f"Manufacturer Name : {self.manuf} and we produce car."
    
    def __repr__(self): # official representation of an object
        return f"Class Car, Manufacturer Name : {self.manuf} and we produce car. This object contains the car model : {self.car_name}"

In [20]:
car_1 = Car("toyota", "glanza")

In [13]:
car_1

In [8]:
str(car_1) # String represtation of the object

'Manufacturer Name : toyota and we produce car.'

In [9]:
repr(car_1)

'Manufacturer Name : toyota and we produce car. This object contains the car model : glanza'

In [21]:
car_1

Class Car, Manufacturer Name : toyota and we produce car. This object contains the car model : glanza

In [22]:
print(f"{car_1!s}") # __str__

Manufacturer Name : toyota and we produce car.

In [23]:
print(f"{car_1!r}") # __repr__

Class Car, Manufacturer Name : toyota and we produce car. This object contains the car model : glanza

# next special method

In [25]:
print(type(1))

<class 'int'>

In [ ]:
class int:
    def __init__(self):
        pass
    def x(self):
        pass

In [26]:
class Wallet:
    def __init__(self, cash):
        self.cash = cash
    
    def __repr__(self):
        return f"Class Wallet, Cash : {self.cash}"
    
    def __add__(self, other):
        return Wallet(self.cash + other.cash)

In [27]:
w1 = Wallet(50)
w2 = Wallet(30)
combined_sum = w1 + w2
print(combined_sum.cash)

80

In [29]:
print(type(1))

<class 'int'>

In [30]:
print(isinstance(1, int))

True

In [31]:
print(isinstance(1, float))

False

In [32]:
print(isinstance(1, list))

False

In [35]:
print(isinstance(1, (float,int)))

True

In [ ]:
# 1 + 1
# Class(2) = Class(1) + Class(1)

In [ ]:
# w1 = Wallet(50)
# w1 -> __init__
# w1 -> self.cash
# w1 -> __add__()

In [37]:
# Adding to __add__

class Wallet:
    def __init__(self, cash):
        self.cash = cash
    
    def __repr__(self):
        return f"Class Wallet, Cash : {self.cash}"
    
    def __add__(self, other):
        return Wallet(self.cash + other.cash)
    
    def __sub__(self, other):
        return Wallet(self.cash - other.cash)

In [75]:
class Wallet:
    def __init__(self, cash):
        self.cash = cash
    
    def __repr__(self):
        return f"Class Wallet, Cash : {self.cash}"
    
    def __add__(self, other):
        return Wallet(self.cash + other.cash)
    
    def __sub__(self, other):
        return Wallet(self.cash - other.cash)
    
    def __eq__(self,other):
        return self.cash == other.cash

In [76]:
w1_new = Wallet(100)
w2_new = Wallet(100)

In [77]:
w1_new == w2_new

True

# Next topic

In [50]:
class ATM:
    def __init__(self):
        self.transacrion_history = []
    
    def __repr__(self):
        return f"Class Wallet, Cash : {self.cash}"
    
    def do_transaction(self, value):
        self.transacrion_history.append(value)
        print(f"Transcation done : {value}")

    def __len__(self):
        return len(self.transacrion_history)

In [51]:
a = [1,2,3,4,5]

In [52]:
print(type(a))

<class 'list'>

In [53]:
len(a)

5

In [54]:
atm_1 = ATM()

In [55]:
len(atm_1)

0

In [56]:
atm_1.do_transaction(100)

Transcation done : 100

In [57]:
atm_1.do_transaction(10)

Transcation done : 10

In [58]:
atm_1.do_transaction(-100)

Transcation done : -100

In [59]:
len(atm_1) # telling python what do we mean by len(obj-->ATM)

3

In [60]:
class ATM:
    def __init__(self):
        self.transacrion_history = []
    
    def __repr__(self):
        return f"Class Wallet, Cash : {self.cash}"
    
    def do_transaction(self, value):
        self.transacrion_history.append(value)
        print(f"Transcation done : {value}")

    def __len__(self):
        return len(self.transacrion_history)
    
    def __getitem__(self, index):
        return self.transacrion_history[index]

In [61]:
atm_2 = ATM()

In [62]:
atm_2.do_transaction(100)

Transcation done : 100

In [63]:
atm_2.do_transaction(100)

Transcation done : 100

In [64]:
atm_2.do_transaction(10)

Transcation done : 10

In [65]:
atm_2.do_transaction(-100)

Transcation done : -100

In [66]:
atm_2.do_transaction(84)

Transcation done : 84

In [68]:
atm_2[3]

-100

# Property decorator

In [ ]:
class Account:
    def __init__(self, balance):
        self.__balance = balance

    # getter
    # def get_balance(self):
    #     return self.__balance

    # setter
    # def set_balance(self, value):
    #     self.__balance = value

    # get, set, del

    # getter
    @property
    def balance(self):
        print("Checking balance")
        return self.__balance
    
    # setter
    @balance.setter
    def balance(self, value):
        if value < 0:
            print("Security Alert. balance cannot be negative")
        elif value > 1000000:
            print("Security Alert. large transaction, requires approval")
        else:
            print("Changing balance")
            self.__balance = value

    @balance.deleter
    def balance(self):
        print("ERROR : You cannot delete a bank balance.")

In [91]:
# older method
# ac_1 =Account(1000)
# ac_1.get_balance()

1000

In [92]:
# ac_1.get_balance()

1000

In [ ]:
# ac_1.set_balance(100)

In [94]:
# ac_1.get_balance()

100

In [128]:
# newer method
ac_1 =Account(1000)
ac_1.balance # directly going to getter function

Checking balance

1000

In [131]:
ac_1.balance = 99999999999999999999999

Security Alert. large transaction, requires approval

In [134]:
ac_1.balance = 2

Changing balance

In [135]:
ac_1.balance

Checking balance

2

In [112]:
del ac_1.balance

ERROR : You cannot delete a bank balance.

In [ ]:
class Account:
    def __init__(self, balance):
        self.__balance = balance


    # getter
    # @property
    # def balance(self):
    #     print("Checking balance")
    #     return self.__balance
    
    # setter
    def balance_set(self, value):
        print("Changing balance")
        self.__balance = value

    # balance = property(fset=balance_set) # apply setter to a method balance_set
    # balance = property(fget=balance_get)
    # balance = property(fdet=balance_det)

In [124]:
ac_new_without_getter = Account(100)

In [125]:
ac_new_without_getter.balance = 2

Changing balance

In [126]:
ac_new_without_getter._Account__balance

2

# Special functions

### lambda

One line function

In [141]:
def add(a,b):
    return a+b

In [142]:
add(1,2)

3

In [ ]:
# lambda function

add = lambda a,b : a + b

In [143]:
add(1,2)

3

In [144]:
add_v2 = lambda a,b : a + b

In [145]:
add_v2(1,2)

3

In [146]:
def square_of_number(x):
    return x*x

In [147]:
square_of_number = lambda x:x*x

In [148]:
square_of_number(100)

10000

### map function

Applied a function to every item in a list

In [149]:
def square_of_number(x):
    return x*x

In [150]:
list_a = [1,2,3,4,5]

In [152]:
list(map(square_of_number, list_a))

[1, 4, 9, 16, 25]

In [153]:
list_b = ["sharmila","abhishek","tanmay","nitin","raj"]

In [154]:
# map(function, iterator)
list(map(str.upper, list_b))

['SHARMILA', 'ABHISHEK', 'TANMAY', 'NITIN', 'RAJ']

In [ ]:
# why str.upper

str.upper

'ABC'

In [155]:
cube = lambda x : x*x*x

In [156]:
list(map(cube, list_a))

[1, 8, 27, 64, 125]

### filter

In [159]:
# filter(function, iterable)
# function that takes one item and return a boolean
list_a = [1,2,3,4,5]

def is_even(num):
    # 2 --> 2%2==0 -> True
    # 3 -> 3%2==0 -> False
    return num % 2 == 0

In [ ]:
list(filter(is_even, list_a))

[2, 4]

In [165]:
students = {"sharmila" : "batch_1",
            "abhishek" : "batch_2",
            "tanmay": "batch_1",
            "nitin": "batch_2",
            "raj" : "batch_2"}

def check_batch_1(student):
    return student[1] == "batch_1"

In [167]:
list(filter(check_batch_1, students.items()))

[('sharmila', 'batch_1'), ('tanmay', 'batch_1')]

In [169]:
# Example-2
names = ["sharmila","abhishek","tanmay","nitin","raj"]
batch = ['batch_1', "batch_2", "batch_1", "batch_2", "batch_2"]

In [170]:
list(zip(names, batch))

[('sharmila', 'batch_1'),
 ('abhishek', 'batch_2'),
 ('tanmay', 'batch_1'),
 ('nitin', 'batch_2'),
 ('raj', 'batch_2')]

In [171]:
list(filter(check_batch_1, list(zip(names, batch))))

[('sharmila', 'batch_1'), ('tanmay', 'batch_1')]

In [ ]:
# list(zip("1", "monal"))

[('1', 'm')]

# list & dict comprehension

In [173]:
numbers = list(range(1,21))
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [177]:
def even_numbers(l):
    final_even_list = []
    for i in l:
        if i%2==0:
            final_even_list.append(i)
    return final_even_list

In [178]:
even_n = even_numbers(numbers)

In [179]:
print(even_n)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [ ]:
# list comprehension

[i for i in numbers]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [181]:
# list comprehension

[num for num in numbers]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [182]:
[num for num in numbers if num%2 == 0]

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [184]:
[num if num%2 == 0 else -1 for num in numbers ]

[-1, 2, -1, 4, -1, 6, -1, 8, -1, 10, -1, 12, -1, 14, -1, 16, -1, 18, -1, 20]

In [ ]:
# write a list comprehension from numbers ranging from 1 - 100 and if a number is even
# return true else False

In [185]:
is_even_list_v1 = [True if num % 2 == 0 else False for num in range(1,101)]

In [186]:
is_even_list_v2 = [num % 2 == 0 for num in range(1,101)]

In [187]:
print(is_even_list_v1)

[False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True]

In [188]:
print(is_even_list_v2)

[False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True]

In [189]:
# dict comprehension

In [190]:
{num:(num % 2 == 0) for num in range(1,101)}

{1: False,
 2: True,
 3: False,
 4: True,
 5: False,
 6: True,
 7: False,
 8: True,
 9: False,
 10: True,
 11: False,
 12: True,
 13: False,
 14: True,
 15: False,
 16: True,
 17: False,
 18: True,
 19: False,
 20: True,
 21: False,
 22: True,
 23: False,
 24: True,
 25: False,
 26: True,
 27: False,
 28: True,
 29: False,
 30: True,
 31: False,
 32: True,
 33: False,
 34: True,
 35: False,
 36: True,
 37: False,
 38: True,
 39: False,
 40: True,
 41: False,
 42: True,
 43: False,
 44: True,
 45: False,
 46: True,
 47: False,
 48: True,
 49: False,
 50: True,
 51: False,
 52: True,
 53: False,
 54: True,
 55: False,
 56: True,
 57: False,
 58: True,
 59: False,
 60: True,
 61: False,
 62: True,
 63: False,
 64: True,
 65: False,
 66: True,
 67: False,
 68: True,
 69: False,
 70: True,
 71: False,
 72: True,
 73: False,
 74: True,
 75: False,
 76: True,
 77: False,
 78: True,
 79: False,
 80: True,
 81: False,
 82: True,
 83: False,
 84: True,
 85: False,
 86: True,
 87: False,
 88: True,
 89: False,
 90: True,
 91: False,
 92: True,
 93: False,
 94: True,
 95: False,
 96: True,
 97: False,
 98: True,
 99: False,
 100: True}

In [191]:
{num:True if num%2==0 else False for num in range(1,101)}

{1: False,
 2: True,
 3: False,
 4: True,
 5: False,
 6: True,
 7: False,
 8: True,
 9: False,
 10: True,
 11: False,
 12: True,
 13: False,
 14: True,
 15: False,
 16: True,
 17: False,
 18: True,
 19: False,
 20: True,
 21: False,
 22: True,
 23: False,
 24: True,
 25: False,
 26: True,
 27: False,
 28: True,
 29: False,
 30: True,
 31: False,
 32: True,
 33: False,
 34: True,
 35: False,
 36: True,
 37: False,
 38: True,
 39: False,
 40: True,
 41: False,
 42: True,
 43: False,
 44: True,
 45: False,
 46: True,
 47: False,
 48: True,
 49: False,
 50: True,
 51: False,
 52: True,
 53: False,
 54: True,
 55: False,
 56: True,
 57: False,
 58: True,
 59: False,
 60: True,
 61: False,
 62: True,
 63: False,
 64: True,
 65: False,
 66: True,
 67: False,
 68: True,
 69: False,
 70: True,
 71: False,
 72: True,
 73: False,
 74: True,
 75: False,
 76: True,
 77: False,
 78: True,
 79: False,
 80: True,
 81: False,
 82: True,
 83: False,
 84: True,
 85: False,
 86: True,
 87: False,
 88: True,
 89: False,
 90: True,
 91: False,
 92: True,
 93: False,
 94: True,
 95: False,
 96: True,
 97: False,
 98: True,
 99: False,
 100: True}

In [192]:
students = {"sharmila" : "batch_1",
            "abhishek" : "batch_2",
            "tanmay": "batch_1",
            "nitin": "batch_2",
            "raj" : "batch_2"}

In [193]:
{name:batch for name, batch in students.items() if batch == "batch_1"}

{'sharmila': 'batch_1', 'tanmay': 'batch_1'}

In [194]:
list_new = list(range(1,101))

In [197]:
indexing = 0
for i in list_new:
    if indexing % 2 == 0:
        print(i, end=' ')
    indexing +=1

1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49 51 53 55 57 59 61 63 65 67 69 71 73 75 77 79 81 83 85 87 89 91 93 95 97 99

In [198]:

for index, value in enumerate(list_new):
    print(index, value)
    # if indexing % 2 == 0:
    #     print(i, end=' ')
    # indexing +=1

0 1
1 2
2 3
3 4
4 5
5 6
6 7
7 8
8 9
9 10
10 11
11 12
12 13
13 14
14 15
15 16
16 17
17 18
18 19
19 20
20 21
21 22
22 23
23 24
24 25
25 26
26 27
27 28
28 29
29 30
30 31
31 32
32 33
33 34
34 35
35 36
36 37
37 38
38 39
39 40
40 41
41 42
42 43
43 44
44 45
45 46
46 47
47 48
48 49
49 50
50 51
51 52
52 53
53 54
54 55
55 56
56 57
57 58
58 59
59 60
60 61
61 62
62 63
63 64
64 65
65 66
66 67
67 68
68 69
69 70
70 71
71 72
72 73
73 74
74 75
75 76
76 77
77 78
78 79
79 80
80 81
81 82
82 83
83 84
84 85
85 86
86 87
87 88
88 89
89 90
90 91
91 92
92 93
93 94
94 95
95 96
96 97
97 98
98 99
99 100

In [199]:
for index, student in enumerate(students):
    print(index, student)

0 sharmila
1 abhishek
2 tanmay
3 nitin
4 raj